* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 scroll-behavior: smooth;  
}

ul {
  list-style-type: none;
}

button {
  padding: 5px 1em;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#s1 {
  background-color: #1abc9c;
  position: relative;
  flex-direction: column;
}

#s2 {
  background-color: #f1c40f;
}

.modal {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,1);
  transition: 0.2s;
}

.modal.animate__animated {
  top: 0;
}

.modal-box {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.easing-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.easing-list > li {
  cursor: pointer;
}